{% extends 'adminpage.html' %}
{% block content %}
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Details</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Recipe Name</th>
                    <th class="col-md-1">Picture</th>
                    <th class="col-md-3">Ingredients Required</th>
                    <th class="col-lg-9">Method</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for i in data %}
                <tr>
                    <td>{{i.id}}</td>
                    <td class="col-2">{{i.recipe_name}}</td>
                    <td class="col-2"><img src="{{i.recipe_image.url}}" style="width: 200px;"></td>
                    <td style="white-space:pre-wrap; word-wrap: break-word;">{{i.ingredients}}</td>
                    <td style="white-space:pre-wrap; word-wrap: break-word;">{{i.instructions}}</td>
                    <td><a href="{% url 'edit' id=i.id %}"><button>Edit</button></a></td>
                    <td><a href="{% url 'delete' id=i.id %}"><button>Delete</button></a></td>
                </tr>
                {% endfor %}
            </table>
          </div>
{% endblock %}