{% extends 'adminindex.html' %}
{% block content %}
{% load static %}
<!-- Navbar Area -->
<div class="bueno-main-menu" id="sticker">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="buenoNav">

                <!-- Toggler -->
                <div id="toggler"><img src="{% static 'img/core-img/toggler.png' %}" alt=""></div>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'adminindex' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'viewrecipe' %}">Recipes</a>
                            <!-- <li><a href="#">Recipe Details</a>
                                <select class="dropdown">
                                    <option>Recipes</option>
                                    {% for i in data %}
                                    <option value="{{i.recipe_name}}"><a href="#">{{i.recipe_name}}</a></option>
                                    {% endfor %}
                                </select>
                            </li> -->
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    
                        <!-- Login/Register -->
                        <div class="login-area">
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                        <div class="login-area">
                            <a href="{% url 'register' %}">Register</a>
                        </div>
                    </div>
                    <!-- Nav End -->

                </div>
            </nav>
        </div>
    </div>
</div>
</header>
<!-- ##### Big Posts Area Start ##### -->
<div class="big-posts-area mb-50">
    <div class="container">
        <!-- Single Big Post Area -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="big-post-thumbnail mb-50">
                    <img src="{% static 'img/healthy.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="big-post-content text-center mb-50">
                    <a href="#" class="post-tag">Healthy</a>
                    <a href="#" class="post-title">Eat Healthy, Stay Healthy!</a>
                    <div class="post-meta">
                        <a href="#" class="post-date">Feb 11, 2023</a>
                        <a href="#" class="post-author">By Celine Glory</a>
                    </div>
                    <h3>Shop for healthy food</h3>
                    <p>
                        <b>Some shopping tips to get you started:</b>
                        
                        Make a shopping list before you shop and plan what meals you're going to eat.
                        Keep the pantry stocked with ingredients that are quick to prepare and easy to cook.
                        Stock up on seasonal vegetables, fruit, wholegrains, nuts and seeds.
                        Choose the lower fat versions of a food if possible - for example milk, cheese, yoghurt, salad dressings and gravies.
                        Choose lean meat cuts and skinless chicken breasts.
                        Limit fast foods, chips, crisps, processed meats, pastries and pies, which all contain large amounts of fat.</p>
                        
                        <p>Find trusted desert recipes for eating healthy: start the day with a wholesome breakfast,
                         cut the carbs or calories, find the perfect main dish for your special diet. 
                         Water-soluble vitamins are delicate and easily destroyed during preparation and cooking. 
                         <br>
                         <br>
                         <b>To minimise nutrient losses:</b>

                        Scrub vegetables rather than peel them, as many nutrients are found close to the skin.
                        Microwave or steam vegetables instead of boiling them.
                        When boiling vegetables, use a small amount of water and do not overboil them.
                        Include more stir-fry recipes in your diet. Stir-fried vegetables are cooked quickly to retain their crunch (and associated nutrients).</p>
                </div>
            </div>
        </div>

        <!-- Single Big Post Area -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="big-post-content text-center mb-50">
                    <a href="#" class="post-tag">The Best</a>
                    <a href="#" class="post-title">Low-Calorie Dessert Recipes That Won't Derail Your Diet</a>
                    <div class="post-meta">
                        <a href="#" class="post-date">Feb 11, 2023</a>
                        <a href="#" class="post-author">By Healthify</a>
                    </div>
                    <p>Often when people think of healthy desserts, they picture a plate of uninspiring copycat treats. You know exactly what we're talking about: imitations of your favorite sweets that spend so much time focusing on cutting calories or carbs, 
                        they forget to add any flavor. No matter how many times you put sugar-free frosting on an apple slice and call it a donut, it's never really going to taste like the glazed donut you 
                        actually want.<br><br><b>Add flavour with herbs and spices</b>
                        Herbs and spices can be used to add delicious flavours without the need for salt or oil.
                        <br><br>
                        <b>Here are a few tips you can try:</b>
                        
                        Fresh herbs are delicately flavoured so add them to your cooking in the last few minutes.
                        Dried herbs are more strongly flavoured than fresh. As a general rule, one teaspoon of dried herbs equals 4 teaspoons of fresh.
                        Add herbs and spices to soups, breads, mustards, salad dressings, vinegars, desserts and drinks.
                        Try some coriander, ginger, garlic, chilli and lemongrass with vegetables for a quick, healthy and delicious stir-fry. </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="big-post-thumbnail mb-50">
                    <img src="{% static 'img/chocolate_molten_cake.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Big Posts Area End ##### -->
{% endblock %}