{% extends 'adminindex.html' %}
{% block content %}
{% load static %}
<!-- Navbar Area -->
<div class="bueno-main-menu" id="sticker">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="buenoNav">

                <!-- Toggler -->
                <div id="toggler"><img src="{% static 'img/core-img/toggler.png' %}" alt=""></div>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'adminindex' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'viewrecipe' %}">Recipes</a>
                            <li  class="dropdown"><a href="#">Recipe List</a>
                                <select class="dropdown">
                                    <option>Recipe</option>
                                    {% for i in data %}
                                    <option>{{i.recipe_name}}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    
                        <!-- Login/Register -->
                        <div class="login-area">
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                        <div class="login-area">
                            <a href="{% url 'register' %}">Register</a>
                        </div>
                    </div>
                    <!-- Nav End -->

                </div>
            </nav>
        </div>
    </div>
</div>
</header>
    <!-- ##### Catagory Area Start ##### -->

    <div class="post-catagory section-padding-100-0 mb-70">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Post Catagory -->
                {% for i in data %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-post-catagory mb-30 w-100 h-100">
                        <img src="{{i.recipe_image.url}}" style="height: 450px; width: 450px;">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="{% url 'eachrecipe' id=i.id %}" class="post-title">{{i.recipe_name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <!-- ##### Catagory Area End ##### -->
{% endblock %}